PORT="" 				# Provide a value for PORT
NODE_ENV="" 				# Provide a value for NODE_ENV
MONGO_URI="" 				# Provide a value for MONGO_URI
JWT_SECRET="" 				# Provide a value for JWT_SECRET

REDIS_HOST="" 				# Provide a value for REDIS_HOST
REDIS_PORT="" 				# Provide a value for REDIS_PORT
REDIS_PASSWORD="" 				# Provide a value for REDIS_PASSWORD
REDIS_DB="" 				# Provide a value for REDIS_DB


CLIENT_URL="" 				# Provide a value for CLIENT_URL